<div id="<%= dom_id crop %>">
  <p>
    <strong>Name:</strong>
    <%= crop.name %>
  </p>

  <p>
    <strong>Planted on:</strong>
    <%= crop.planted_on %>
  </p>

  <p>
    <strong>Expected harvest:</strong>
    <%= crop.expected_harvest %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= crop.notes %>
  </p>

</div>
