<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "IoT Agricultural Platform" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Stylesheets and JavaScript imports -->
 
<%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
<%= javascript_include_tag 'application', type: 'module', "data-turbo-track": "reload" %>
<%= javascript_importmap_tags %>
</head>

<body>
  <% unless devise_controller? %>
    <!-- Navbar and Sidebar are displayed only if not a Devise controller -->
    <%= render 'shared/navbar' %>
    <%= render 'shared/sidebar' %>
  <% end %>

  <!-- Main Content Area with Turbo Frame for dynamic content loading -->
  <div class="main-content">
    <turbo-frame id="main-content">
      <%= yield %> <!-- Main content will be dynamically updated here -->
    </turbo-frame>
  </div>
  
</body>
</html>
